<div class="summary-cards d-flex justify-content-end" style="margin-right: 20px;">
  <!-- Vacation Requests -->
  <div class="summary-card bg-success text-white d-flex align-items-center p-2 mr-3"
       style="display: flex; align-items: center; padding: 20px; width: 200px; height: 120px; border-radius: 20px; margin-right: 20px;">
    <div class="d-flex align-items-center">
      <i class="fas fa-calendar-check fa-3x mr-3" style="margin-right: 15px;"></i>
      <h3 style="margin: 0; font-size: 3rem;">{{ vacationRequests }}</h3>
    </div>
    <p style="margin-left: 15px; margin-bottom: 0; font-size: 1rem;">Vacation Requests</p>
  </div>

  <!-- Leave Requests -->
  <div class="summary-card bg-success text-white d-flex align-items-center p-2 mr-3"
       style="display: flex; align-items: center; padding: 20px; width: 200px; height: 120px; border-radius: 20px;">
    <div class="d-flex align-items-center">
      <i class="fas fa-calendar-check fa-3x mr-3" style="margin-right: 15px;"></i>
      <h3 style="margin: 0; font-size: 3rem;">{{ leaveRequests }}</h3>
    </div>
    <p style="margin-left: 15px; margin-bottom: 0; font-size: 1rem;">Leave Requests</p>
  </div>
</div>
